Source: http://youtu.be/eMOA1pPVUc4

## Download dataset

In [0]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
all_data = pd.read_csv("https://drive.google.com/uc?export=view&id=1wNNHSvjrtll2l116Mr1inMVxhkOJDA1T", compression='zip')

In [0]:
all_data.head()

   Order ID                     Product  ...  Hour  Minute
0    162009                      iPhone  ...    20      59
1    162009    Lightning Charging Cable  ...    20      59
2    162009            Wired Headphones  ...    20      59
3    162010  Bose SoundSport Headphones  ...     5      39
4    162011      34in Ultrawide Monitor  ...     0       1

[5 rows x 11 columns]

#What products are the most often sold together?   ( minute 1:02 )

Keeps Order IDs with more than 1 product

In [0]:
df = all_data[all_data['Order ID'].duplicated(keep=False)]

Creates a new feature grouping all sales with same Order ID

In [0]:
df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))

And Drops duplicated

In [0]:
df = df[['Order ID', 'Grouped' ]].drop_duplicates()

Looks for each product and counts how of the is sold together with another.

In [0]:
# Reference: https://stackoverflow.com/questions/52195887/counting-unique-pairs-of-numbers-into-a-python-dictionary
from itertools import combinations
from collections import Counter

produt_name= 'iPhone'
produt_name= 'Lightning Charging Cable'
produt_name= '27in FHD Monitor'

count = Counter()
for row in df['Grouped']:
  if produt_name in row:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))
  
count.most_common(10)

[(('USB-C Charging Cable', '27in FHD Monitor'), 65),
 (('AAA Batteries (4-pack)', '27in FHD Monitor'), 44),
 (('27in FHD Monitor', 'AAA Batteries (4-pack)'), 42),
 (('27in FHD Monitor', 'Lightning Charging Cable'), 36),
 (('Lightning Charging Cable', '27in FHD Monitor'), 36),
 (('27in FHD Monitor', 'AA Batteries (4-pack)'), 30),
 (('Bose SoundSport Headphones', '27in FHD Monitor'), 29),
 (('Wired Headphones', '27in FHD Monitor'), 26),
 (('27in FHD Monitor', 'Apple Airpods Headphones'), 24),
 (('Apple Airpods Headphones', '27in FHD Monitor'), 24)]