In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
columns= ['Observation1','Observation2','Observation3','Observation4','Observation5','Observation6','Observation7','Observation8']
data = pd.read_csv('./dataset.csv', sep=",", names=columns, header=None)
data.tail()

,Observation1,Observation2,Observation3,Observation4,Observation5,Observation6,Observation7,Observation8
Feature24686,0,0,0,0,2,0,3,1
Feature24687,4,4,3,1,11,20,20,15
Feature24688,134,118,98,80,372,461,417,525
Feature24689,0,0,0,0,0,0,0,0
Feature24690,0,0,0,0,0,0,0,0